In [1]:
import pandas as pd
import numpy as n

In [2]:
df = pd.read_csv('C:/Users/ZMHD022/Desktop/HC/home-credit-default-risk/application_train.csv')

In [4]:
pd.crosstab(df['TARGET'], df['CODE_GENDER'])

CODE_GENDER       F      M  XNA
TARGET
0            188278  94404    4
1             14170  10655    0

In [7]:
pd.crosstab(df['TARGET'], df['FLAG_OWN_CAR'])

FLAG_OWN_CAR       N      Y
TARGET
0             185675  97011
1              17249   7576

In [11]:
own_car = pd.crosstab(df['TARGET'], df['FLAG_OWN_CAR'])
own_car

FLAG_OWN_CAR       N      Y
TARGET
0             185675  97011
1              17249   7576

In [12]:
stats.chi2_contingency(own_car)

(146.65601825576024,
 9.330994431109667e-34,
 1,
 array([[186542.18504054,  96143.81495946],
        [ 16381.81495946,   8443.18504054]]))

In [14]:
pd.crosstab(df['TARGET'], df['FLAG_OWN_REALTY'])

FLAG_OWN_REALTY      N       Y
TARGET
0                86357  196329
1                 7842   16983

In [15]:
own_house = pd.crosstab(df['TARGET'], df['FLAG_OWN_REALTY'])
own_house

FLAG_OWN_REALTY      N       Y
TARGET
0                86357  196329
1                 7842   16983

In [16]:
stats.chi2_contingency(own_house)

(11.575827298084178,
 0.0006681470317545887,
 1,
 array([[ 86594.42593598, 196091.57406402],
        [  7604.57406402,  17220.42593598]]))

In [17]:
no_child = pd.crosstab(df['TARGET'],df['CNT_CHILDREN'])
no_child

CNT_CHILDREN,0,1,2,3,4,5,6,7,8,9,10,11,12,14,19
TARGET,,,,,,,,,,,,,,,
0,198762,55665,24416,3359,374,77,15,7,2,0,2,0,2,3,2
1,16609,5454,2333,358,55,7,6,0,0,2,0,1,0,0,0

In [18]:
stats.chi2_contingency(no_child)

(185.4517870533278,
 5.061088526096429e-32,
 14,
 array([[1.97984353e+05, 5.61849353e+04, 2.45895848e+04, 3.41693098e+03,
         3.94367336e+02, 7.72187792e+01, 1.93046948e+01, 6.43489826e+00,
         1.83854236e+00, 1.83854236e+00, 1.83854236e+00, 9.19271181e-01,
         1.83854236e+00, 2.75781354e+00, 1.83854236e+00],
        [1.73866466e+04, 4.93406472e+03, 2.15941519e+03, 3.00069022e+02,
         3.46326635e+01, 6.78122083e+00, 1.69530521e+00, 5.65101736e-01,
         1.61457639e-01, 1.61457639e-01, 1.61457639e-01, 8.07288195e-02,
         1.61457639e-01, 2.42186458e-01, 1.61457639e-01]]))

In [19]:
accompyning = pd.crosstab(df['TARGET'], df['NAME_TYPE_SUITE'])
accompyning

NAME_TYPE_SUITE,Children,Family,Group of people,Other_A,Other_B,"Spouse, partner",Unaccompanied
TARGET,,,,,,,
0,3026,37140,248,790,1596,10475,228189
1,241,3009,23,76,174,895,20337

In [20]:
stats.chi2_contingency(accompyning)

(32.825314655829914,
 1.1329313903575907e-05,
 6,
 array([[3.00289299e+03, 3.69033213e+04, 2.49092133e+02, 7.95991836e+02,
         1.62691172e+03, 1.04508397e+04, 2.28434950e+05],
        [2.64107012e+02, 3.24567873e+03, 2.19078666e+01, 7.00081641e+01,
         1.43088280e+02, 9.19160307e+02, 2.00910496e+04]]))

In [22]:
income_type = pd.crosstab(df['TARGET'], df['NAME_INCOME_TYPE'])
income_type

NAME_INCOME_TYPE,Businessman,Commercial associate,Maternity leave,Pensioner,State servant,Student,Unemployed,Working
TARGET,,,,,,,,
0,10,66257,3,52380,20454,18,14,143550
1,0,5360,2,2982,1249,0,8,15224

In [23]:
stats.chi2_contingency(income_type)

(1253.4708080924988,
 1.9281456056858933e-266,
 7,
 array([[9.19271181e+00, 6.58354441e+04, 4.59635590e+00, 5.08926911e+04,
         1.99509424e+04, 1.65468812e+01, 2.02239660e+01, 1.45956362e+05],
        [8.07288195e-01, 5.78155586e+03, 4.03644097e-01, 4.46930890e+03,
         1.75205757e+03, 1.45311875e+00, 1.77603403e+00, 1.28176376e+04]]))

In [24]:
edu_type = pd.crosstab(df['TARGET'], df['NAME_EDUCATION_TYPE'])
edu_type

NAME_EDUCATION_TYPE,Academic degree,Higher education,Incomplete higher,Lower secondary,Secondary / secondary special
TARGET,,,,,
0,161,70854,9405,3399,198867
1,3,4009,872,417,19524

In [25]:
stats.chi2_contingency(edu_type)

(1019.2131873088356,
 2.4476812052198174e-219,
 4,
 array([[1.50760474e+02, 6.88193984e+04, 9.44734992e+03, 3.50793882e+03,
         2.00760552e+05],
        [1.32395264e+01, 6.04360161e+03, 8.29650078e+02, 3.08061175e+02,
         1.76304476e+04]]))

In [26]:
family_status = pd.crosstab(df['TARGET'], df['NAME_FAMILY_STATUS'])
family_status

NAME_FAMILY_STATUS,Civil marriage,Married,Separated,Single / not married,Unknown,Widow
TARGET,,,,,,
0,26814,181582,18150,40987,2,15151
1,2961,14850,1620,4457,0,937

In [27]:
stats.chi2_contingency(family_status)

(504.69408255632106,
 7.744841561414258e-107,
 5,
 array([[2.73712994e+04, 1.80574277e+05, 1.81739912e+04, 4.17753595e+04,
         1.83854236e+00, 1.47892348e+04],
        [2.40370060e+03, 1.58577235e+04, 1.59600876e+03, 3.66864047e+03,
         1.61457639e-01, 1.29876525e+03]]))

In [28]:
housing_type = pd.crosstab(df['TARGET'], df['NAME_HOUSING_TYPE'])
housing_type

NAME_HOUSING_TYPE,Co-op apartment,House / apartment,Municipal apartment,Office apartment,Rented apartment,With parents
TARGET,,,,,,
0,1033,251596,10228,2445,4280,13104
1,89,21272,955,172,601,1736

In [29]:
stats.chi2_contingency(housing_type)

(420.55618983894664,
 1.0990890032617707e-88,
 5,
 array([[1.03142226e+03, 2.50839688e+05, 1.02802096e+04, 2.40573268e+03,
         4.48696263e+03, 1.36419843e+04],
        [9.05777354e+01, 2.20283115e+04, 9.02790388e+02, 2.11267321e+02,
         3.94037368e+02, 1.19801568e+03]]))

In [30]:
house = pd.crosstab(df['FLAG_OWN_REALTY'], df['NAME_HOUSING_TYPE'])
house

NAME_HOUSING_TYPE,Co-op apartment,House / apartment,Municipal apartment,Office apartment,Rented apartment,With parents
FLAG_OWN_REALTY,,,,,,
N,424,73671,6822,1224,2795,9263
Y,698,199197,4361,1393,2086,5577

In [31]:
stats.chi2_contingency(house)

(15583.14370290803,
 0.0,
 5,
 array([[   343.69917824,  83586.90496275,   3425.65767403,
            801.65842198,   1495.18332352,   4545.89643948],
        [   778.30082176, 189281.09503725,   7757.34232597,
           1815.34157802,   3385.81667648,  10294.10356052]]))

In [32]:
car_age = pd.crosstab(df['TARGET'], df['OWN_CAR_AGE'])
car_age

OWN_CAR_AGE,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,52.0,54.0,55.0,56.0,57.0,63.0,64.0,65.0,69.0,91.0
TARGET,,,,,,,,,,,,,,,,,,,,,
0,1987,4944,5501,6052,5257,3409,6026,6991,5516,4666,...,1,12,4,1,0,2,2233,822,1,1
1,147,336,351,318,300,186,356,433,371,354,...,0,0,0,0,1,0,210,69,0,1

In [33]:
stats.chi2_contingency(car_age)

(423.99249836832115,
 8.695299944334695e-56,
 61,
 array([[1.97941141e+03, 4.89751277e+03, 5.42807665e+03, 5.90855233e+03,
         5.15444667e+03, 3.33457545e+03, 5.91968304e+03, 6.88619977e+03,
         5.46054122e+03, 4.65634736e+03, 4.45784969e+03, 3.85957398e+03,
         3.94861967e+03, 4.23523547e+03, 4.26120713e+03, 3.32066206e+03,
         3.11196124e+03, 2.68899422e+03, 2.24283823e+03, 1.72897042e+03,
         1.41638295e+03, 1.35609160e+03, 1.15944904e+03, 9.89705705e+02,
         1.06669312e+03, 8.02338739e+02, 5.37984357e+02, 4.48011111e+02,
         5.02737106e+02, 3.68241017e+02, 3.02384311e+02, 2.47658316e+02,
         1.92932321e+02, 1.22437819e+02, 1.69743340e+02, 1.45626800e+02,
         1.15017345e+02, 6.95669427e+01, 8.99732459e+01, 7.23496204e+01,
         7.88425350e+01, 5.37984357e+01, 3.89574879e+01, 1.76236255e+01,
         1.94787440e+01, 1.02031516e+01, 4.63779618e+00, 9.27559236e-01,
         9.27559236e-01, 5.56535541e+00, 9.27559236e-01, 2.78267771e+00,
         9.27559236e-01, 1.11307108e+01, 3.71023694e+00, 9.27559236e-01,
         9.27559236e-01, 1.85511847e+00, 2.26602721e+03, 8.26455279e+02,
         9.27559236e-01, 1.85511847e+00],
        [1.54588591e+02, 3.82487235e+02, 4.23923352e+02, 4.61447668e+02,
         4.02553327e+02, 2.60424547e+02, 4.62316957e+02, 5.37800233e+02,
         4.26458779e+02, 3.63652636e+02, 3.48150313e+02, 3.01426020e+02,
         3.08380333e+02, 3.30764529e+02, 3.32792871e+02, 2.59337936e+02,
         2.43038764e+02, 2.10005775e+02, 1.75161768e+02, 1.35029584e+02,
         1.10617047e+02, 1.05908397e+02, 9.05509552e+01, 7.72942954e+01,
         8.33068788e+01, 6.26612610e+01, 4.20156432e+01, 3.49888891e+01,
         3.92628942e+01, 2.87589834e+01, 2.36156891e+01, 1.93416840e+01,
         1.50676790e+01, 9.56218087e+00, 1.32566598e+01, 1.13732000e+01,
         8.98265476e+00, 5.43305731e+00, 7.02675413e+00, 5.65037961e+00,
         6.15746496e+00, 4.20156432e+00, 3.04251210e+00, 1.37637452e+00,
         1.52125605e+00, 7.96848406e-01, 3.62203821e-01, 7.24407642e-02,
         7.24407642e-02, 4.34644585e-01, 7.24407642e-02, 2.17322293e-01,
         7.24407642e-02, 8.69289170e-01, 2.89763057e-01, 7.24407642e-02,
         7.24407642e-02, 1.44881528e-01, 1.76972787e+02, 6.45447209e+01,
         7.24407642e-02, 1.44881528e-01]]))

In [34]:
mobno_given = pd.crosstab(df['TARGET'], df['FLAG_MOBIL'])
mobno_given

FLAG_MOBIL  0       1
TARGET
0           1  282685
1           0   24825

In [35]:
stats.chi2_contingency(mobno_given)

(2.3687497870672676,
 0.12378615154489818,
 1,
 array([[9.19271181e-01, 2.82685081e+05],
        [8.07288195e-02, 2.48249193e+04]]))

In [36]:
wkphno_given = pd.crosstab(df['TARGET'], df['FLAG_EMP_PHONE'])
wkphno_given

FLAG_EMP_PHONE      0       1
TARGET
0               52395  230291
1                2991   21834

In [37]:
stats.chi2_contingency(wkphno_given)

(649.7511805111201,
 2.530605927961308e-143,
 1,
 array([[ 50914.75360556, 231771.24639444],
        [  4471.24639444,  20353.75360556]]))

In [38]:
hmphno_given = pd.crosstab(df['TARGET'], df['FLAG_WORK_PHONE'])
hmphno_given

FLAG_WORK_PHONE       0      1
TARGET
0                227282  55404
1                 18921   5904

In [39]:
stats.chi2_contingency(hmphno_given)

(249.94030531993508,
 2.6758000919452704e-56,
 1,
 array([[226327.32246326,  56358.67753674],
        [ 19875.67753674,   4949.32246326]]))

In [40]:
mob_reach= pd.crosstab(df['TARGET'], df['FLAG_CONT_MOBILE'])
mob_reach

FLAG_CONT_MOBILE    0       1
TARGET
0                 529  282157
1                  45   24780

In [41]:
stats.chi2_contingency(mob_reach)

(0.016529895300634423,
 0.8976989816319643,
 1,
 array([[5.27661658e+02, 2.82158338e+05],
        [4.63383424e+01, 2.47786617e+04]]))

In [42]:
mob_given_reach= pd.crosstab(df['FLAG_MOBIL'], df['FLAG_CONT_MOBILE'])
mob_given_reach

FLAG_CONT_MOBILE    0       1
FLAG_MOBIL
0                   0       1
1                 574  306936

In [43]:
stats.chi2_contingency(mob_given_reach)

(133.1842629960505,
 8.239797898091087e-31,
 1,
 array([[1.86659989e-03, 9.98133400e-01],
        [5.73998133e+02, 3.06936002e+05]]))

In [44]:
same_clm= pd.crosstab(df['FLAG_WORK_PHONE'], df['FLAG_PHONE'])
same_clm

FLAG_PHONE            0      1
FLAG_WORK_PHONE
0                193191  53012
1                 27889  33419

In [46]:
stats.chi2_contingency(same_clm)

(26416.723088156643, 0.0, 1, array([[177003.61691126,  69199.38308874],
        [ 44076.38308874,  17231.61691126]]))

In [47]:
email_given= pd.crosstab(df['TARGET'], df['FLAG_EMAIL'])
email_given

FLAG_EMAIL       0      1
TARGET
0           266618  16068
1            23451   1374

In [48]:
stats.chi2_contingency(email_given)

(0.92309632556523,
 0.3366632895181666,
 1,
 array([[266652.07206897,  16033.92793103],
        [ 23416.92793103,   1408.07206897]]))

In [49]:
occup_type=pd.crosstab(df['TARGET'],df['OCCUPATION_TYPE'])
occup_type

OCCUPATION_TYPE,Accountants,Cleaning staff,Cooking staff,Core staff,Drivers,HR staff,High skill tech staff,IT staff,Laborers,Low-skill Laborers,Managers,Medicine staff,Private service staff,Realty agents,Sales staff,Secretaries,Security staff,Waiters/barmen staff
TARGET,,,,,,,,,,,,,,,,,,
0,9339,4206,5325,25832,16496,527,10679,492,49348,1734,20043,7965,2477,692,29010,1213,5999,1196
1,474,447,621,1738,2107,36,701,34,5838,359,1328,572,175,59,3092,92,722,152

In [50]:
stats.chi2_contingency(occup_type)

(1402.8467961927513,
 3.784499856764699e-288,
 17,
 array([[8.95092293e+03, 4.24423157e+03, 5.42364086e+03, 2.51479614e+04,
         1.69687169e+04, 5.13540162e+02, 1.03802612e+04, 4.79790631e+02,
         5.03378817e+04, 1.90912888e+03, 1.94935467e+04, 7.78702018e+03,
         2.41902044e+03, 6.85024266e+02, 2.92818229e+04, 1.19035508e+03,
         6.13055671e+03, 1.22957751e+03],
        [8.62077070e+02, 4.08768430e+02, 5.22359142e+02, 2.42203860e+03,
         1.63428307e+03, 4.94598380e+01, 9.99738822e+02, 4.62093691e+01,
         4.84811833e+03, 1.83871121e+02, 1.87745328e+03, 7.49979817e+02,
         2.32979557e+02, 6.59757342e+01, 2.82017712e+03, 1.14644918e+02,
         5.90443288e+02, 1.18422490e+02]]))

In [52]:
family_numb=pd.crosstab(df['TARGET'],df['CNT_FAM_MEMBERS'])
family_numb

CNT_FAM_MEMBERS,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0,14.0,15.0,16.0,20.0
TARGET,,,,,,,,,,,,,,,,,
0,62172,146348,47993,22561,3151,353,75,14,6,2,0,2,0,2,1,2,2
1,5675,12009,4608,2136,327,55,6,6,0,1,1,0,1,0,0,0,0

In [53]:
stats.chi2_contingency(family_numb)

(167.4373228270056,
 2.730183369578879e-27,
 16,
 array([[6.23697562e+04, 1.45572943e+05, 4.83545557e+04, 2.27032274e+04,
         3.19722334e+03, 3.75062427e+02, 7.44609231e+01, 1.83854131e+01,
         5.51562393e+00, 2.75781197e+00, 9.19270655e-01, 1.83854131e+00,
         9.19270655e-01, 1.83854131e+00, 9.19270655e-01, 1.83854131e+00,
         1.83854131e+00],
        [5.47724384e+03, 1.27840568e+04, 4.24644425e+03, 1.99377262e+03,
         2.80776660e+02, 3.29375726e+01, 6.53907691e+00, 1.61458689e+00,
         4.84376067e-01, 2.42188034e-01, 8.07293445e-02, 1.61458689e-01,
         8.07293445e-02, 1.61458689e-01, 8.07293445e-02, 1.61458689e-01,
         1.61458689e-01]]))

In [6]:
df.corr()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
SK_ID_CURR,1.000000,-0.002108,-0.001129,-0.001820,-0.000343,-0.000433,-0.000232,0.000849,-0.001500,0.001366,...,0.000509,0.000167,0.001073,0.000282,-0.002672,-0.002193,0.002099,0.000485,0.001025,0.004659
TARGET,-0.002108,1.000000,0.019187,-0.003982,-0.030369,-0.012817,-0.039645,-0.037227,0.078239,-0.044932,...,-0.007952,-0.001358,0.000215,0.003709,0.000930,0.002704,0.000788,-0.012462,-0.002022,0.019930
CNT_CHILDREN,-0.001129,0.019187,1.000000,0.012882,0.002145,0.021374,-0.001827,-0.025573,0.330938,-0.239818,...,0.004031,0.000864,0.000988,-0.002450,-0.000410,-0.000366,-0.002436,-0.010808,-0.007836,-0.041550
AMT_INCOME_TOTAL,-0.001820,-0.003982,0.012882,1.000000,0.156870,0.191657,0.159610,0.074796,0.027261,-0.064223,...,0.003130,0.002408,0.000242,-0.000589,0.000709,0.002944,0.002387,0.024700,0.004859,0.011690
AMT_CREDIT,-0.000343,-0.030369,0.002145,0.156870,1.000000,0.770138,0.986968,0.099738,-0.055436,-0.066838,...,0.034329,0.021082,0.031023,-0.016148,-0.003906,0.004238,-0.001275,0.054451,0.015925,-0.048448
AMT_ANNUITY,-0.000433,-0.012817,0.021374,0.191657,0.770138,1.000000,0.775109,0.118429,0.009445,-0.104332,...,-0.009745,0.004573,0.011718,-0.017598,0.003861,0.002185,0.013881,0.039148,0.010124,-0.011320
AMT_GOODS_PRICE,-0.000232,-0.039645,-0.001827,0.159610,0.986968,0.775109,1.000000,0.103520,-0.053442,-0.064842,...,0.032748,0.020279,0.031640,-0.014486,-0.003237,0.004677,-0.001007,0.056422,0.016432,-0.050998
REGION_POPULATION_RELATIVE,0.000849,-0.037227,-0.025573,0.074796,0.099738,0.118429,0.103520,1.000000,-0.029582,-0.003980,...,0.013367,0.002364,-0.000045,0.003437,-0.002225,0.001399,-0.002149,0.078607,-0.001279,0.001003
DAYS_BIRTH,-0.001500,0.078239,0.330938,0.027261,-0.055436,0.009445,-0.053442,-0.029582,1.000000,-0.615864,...,0.044498,0.003614,0.009015,0.027282,0.005285,0.002255,-0.001336,0.001372,-0.011799,-0.071983
DAYS_EMPLOYED,0.001366,-0.044932,-0.239818,-0.064223,-0.066838,-0.104332,-0.064842,-0.003980,-0.615864,1.000000,...,-0.040396,-0.010040,-0.010135,-0.008396,-0.004735,0.000472,0.003072,-0.034457,0.015345,0.049988
DAYS_REGISTRATION,-0.000973,0.041975,0.183395,0.027805,0.009621,0.038514,0.011565,-0.053820,0.331912,-0.210242,...,0.017040,0.004764,0.006971,0.003859,-0.002855,-0.000508,-0.001069,-0.011353,-0.001308,-0.024805
DAYS_ID_PUBLISH,-0.000384,0.051457,-0.028019,0.008506,-0.006575,0.011268,-0.009267,-0.003993,0.272691,-0.272378,...,0.014084,0.000903,0.000070,0.017246,0.004761,-0.000999,-0.001249,-0.009660,-0.006200,-0.035099
OWN_CAR_AGE,0.001818,0.037612,0.008494,-0.117273,-0.094191,-0.097057,-0.103733,-0.081429,0.005761,0.028830,...,-0.011043,-0.004992,-0.007458,0.001236,-0.000202,-0.008650,0.001661,-0.021867,-0.017632,-0.014384
FLAG_MOBIL,0.002804,0.000534,0.001041,0.000325,0.001436,0.000149,0.001399,0.001333,-0.003084,0.000818,...,-0.019919,0.000044,0.000041,0.000033,NaN,NaN,NaN,NaN,NaN,NaN
FLAG_EMP_PHONE,-0.001337,0.045982,0.240714,0.063994,0.065519,0.103533,0.063487,0.004045,0.619888,-0.999755,...,0.040548,0.010049,0.010183,0.008579,0.004619,-0.000438,-0.003028,0.034092,-0.015271,-0.049949
FLAG_WORK_PHONE,-0.000415,0.028524,0.055630,-0.017193,-0.021085,-0.024803,0.001086,-0.015628,0.172457,-0.233972,...,0.032049,0.011854,0.001771,0.001541,-0.005358,-0.004434,-0.004404,-0.001829,-0.022964,-0.075875
FLAG_CONT_MOBILE,0.002815,0.000370,-0.000794,-0.008290,0.023653,0.022350,0.020706,-0.012478,-0.014985,0.012745,...,-0.043068,-0.005123,0.000974,-0.015677,-0.004600,-0.002481,-0.008496,0.005922,0.006934,0.026700
FLAG_PHONE,0.002753,-0.023806,-0.029906,0.000159,0.026213,0.010802,0.042179,0.090939,-0.042402,0.015291,...,0.004055,0.009660,0.000692,0.000020,-0.003251,-0.000833,-0.000201,0.031992,-0.009969,-0.031587
FLAG_EMAIL,0.000281,-0.001758,0.022619,0.038378,0.016632,0.071709,0.017048,0.040012,0.088208,-0.062112,...,-0.008110,-0.002525,-0.001778,-0.000647,0.003390,0.003849,0.021581,0.025669,0.013426,0.053354
CNT_FAM_MEMBERS,-0.002895,0.009308,0.879161,0.016342,0.063160,0.075539,0.061185,-0.024209,0.278894,-0.233549,...,0.001485,0.002205,0.000188,-0.005801,0.000660,-0.001215,-0.001174,-0.008021,-0.004739,-0.028571
REGION_RATING_CLIENT,-0.001075,0.058899,0.025423,-0.085465,-0.101776,-0.128525,-0.103786,-0.532877,0.009361,0.032750,...,-0.012532,-0.001205,0.002217,-0.001887,0.006312,-0.002241,0.001683,-0.069712,0.005436,0.011494
REGION_RATING_CLIENT_W_CITY,-0.001138,0.060893,0.024781,-0.091735,-0.110915,-0.141682,-0.112208,-0.531535,0.008073,0.034624,...,-0.013672,-0.001530,0.002609,-0.001501,0.006239,-0.001953,0.001102,-0.067741,0.004773,0.010683
HOUR_APPR_PROCESS_START,0.000350,-0.024166,-0.007292,0.036459,0.052738,0.052269,0.062320,0.171285,0.091064,-0.091138,...,0.021584,0.002507,0.003277,0.003998,-0.016005,0.002274,-0.002985,0.037673,-0.000680,-0.030943
REG_REGION_NOT_LIVE_REGION,-0.000283,0.005576,-0.013319,0.031191,0.024010,0.041299,0.026111,0.002118,0.065486,-0.035803,...,0.008344,-0.001934,-0.002794,0.005006,-0.002044,-0.001342,0.001227,0.000316,-0.001813,-0.017095
REG_REGION_NOT_WORK_REGION,0.001097,0.006942,0.008185,0.062340,0.051929,0.079420,0.053171,0.056944,0.095819,-0.107150,...,0.007436,0.001038,-0.001263,-0.000995,-0.001749,-0.001775,-0.000705,0.008360,-0.004959,-0.021587
LIVE_REGION_NOT_WORK_REGION,0.002903,0.002819,0.014835,0.058059,0.052609,0.074550,0.052864,0.081016,0.069567,-0.095539,...,0.004282,0.003078,-0.000251,-0.001969,-0.000996,-0.000993,-0.001486,0.010246,-0.005655,-0.017429
REG_CITY_NOT_LIVE_CITY,-0.001885,0.044395,0.020072,0.003574,-0.026886,-0.006214,-0.027212,-0.050499,0.180382,-0.090516,...,0.013432,-0.005119,-0.001181,0.002614,0.000549,-0.002152,-0.001517,-0.010881,0.000933,-0.004793
REG_CITY_NOT_WORK_CITY,-0.001582,0.050994,0.070650,0.006431,-0.018856,0.000896,-0.020333,-0.044057,0.242401,-0.254559,...,0.013919,-0.003854,0.000703,0.003487,0.000481,-0.001982,-0.002753,-0.012182,-0.005227,-0.008013
LIVE_CITY_NOT_WORK_CITY,0.000067,0.032518,0.069957,0.008285,0.000081,0.010084,-0.001309,-0.015188,0.158882,-0.218101,...,0.006332,-0.002035,0.001877,0.004401,-0.000924,-0.001960,-0.003325,-0.007592,-0.006792,-0.008415
EXT_SOURCE_1,0.000082,-0.155317,-0.138470,0.026232,0.168429,0.119398,0.175502,0.099997,-0.600610,0.289848,...,-0.025739,0.005131,-0.005102,-0.019208,-0.003963,-0.005087,-0.001801,0.030820,-0.003631,0.006562
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DEF_30_CNT_SOCIAL_CIRCLE,-0.000082,0.032248,-0.001262,-0.013244,-0.021229,-0.022833,-0.022244,0.006329,0.000206,0.016717,...,-0.001019,-0.003363,0.000203,-0.000652,-0.000177,-0.001272,-0.002167,0.000331,-0.001302,0.018590
OBS_60_CNT_SOCIAL_CIRCLE,-0.001423,0.009022,0.015232,-0.013015,0.000239,-0.011731,0.000347,-0.010638,0.007023,0.005888,...,0.003258,0.001001,0.000351,-0.000552,0.000413,-0.002542,0.000197,0.001639,0.003932,0.032957
DEF_60_CNT_SOCIAL_CIRCLE,0.001187,0.031276,-0.001861,-0.013135,-0.023767,-0.024001,-0.024506,0.002404,0.001925,0.014211,...,-0.003316,-0.003063,0.000157,0.000393,-0.001461,-0.001822,-0.002536,-0.001462,-0.000291,0.017190
DAYS_LAST_PHONE_CHANGE,-0.000858,0.055218,-0.005865,-0.018585,-0.073701,-0.063747,-0.076313,-0.044013,0.082939,0.023032,...,0.047604,0.006852,0.009171,0.009826,-0.000858,0.002337,-0.003495,-0.041244,-0.001451,-0.112725
FLAG_DOCUMENT_2,0.000700,0.005417,0.001786,-0.001000,0.008905,0.003397,0.010774,-0.003040,-0.001191,-0.003090,...,-0.000589,-0.000159,-0.000146,-0.000119,NaN,NaN,NaN,NaN,NaN,NaN
FLAG_DOCUMENT_3,-0.003411,0.044346,0.056837,-0.016751,0.096365,0.102843,0.074900,-0.084644,0.109666,-0.249082,...,0.007976,0.009423,0.007396,-0.025510,-0.000761,0.000982,0.008175,0.010360,0.009576,0.048214
FLAG_DOCUMENT_4,-0.004139,-0.002672,-0.003709,0.000529,0.000630,0.001109,0.001113,0.008102,-0.002789,0.000437,...,-0.000816,-0.000220,-0.000203,-0.000165,-0.000725,-0.000600,-0.001595,0.005005,0.000313,0.000297
FLAG_DOCUMENT_5,-0.001097,-0.000316,-0.016737,0.001507,-0.011756,-0.006655,-0.005201,0.016032,0.016774,-0.020041,...,-0.010622,-0.003023,-0.002791,0.000645,-0.001020,-0.000607,0.001904,0.006739,-0.004568,-0.010234
FLAG_DOCUMENT_6,0.002121,-0.028602,-0.157024,-0.045878,-0.046717,-0.073897,-0.050232,0.000728,-0.407160,0.597484,...,-0.023915,-0.004759,-0.005981,-0.005688,-0.001567,0.003607,0.002819,-0.023518,0.010201,0.012223
FLAG_DOCUMENT_7,-0.002694,-0.001520,-0.001498,0.003825,-0.004040,-0.002273,0.000202,0.002436,0.001469,-0.002221,...,-0.001254,-0.000338,-0.000312,-0.000254,-0.001036,-0.000858,-0.000925,-0.003055,-0.000352,0.003542
FLAG_DOCUMENT_8,0.001809,-0.008040,0.051697,0.072451,0.082819,0.130584,0.080482,0.088523,0.113243,-0.121571,...,0.007756,0.000053,0.003859,-0.001548,0.004995,0.000932,0.000641,0.019248,-0.003269,-0.024333
FLAG_DOCUMENT_9,0.001505,-0.004352,-0.001997,0.018389,0.022602,0.033691,0.022574,0.038434,0.018213,-0.023834,...,0.001895,-0.001526,-0.001409,-0.001145,-0.002482,0.000012,0.000223,0.005266,-0.003152,-0.010376
FLAG_DOCUMENT_10,-0.000815,-0.001414,-0.002756,0.000290,-0.003100,-0.003369,-0.002134,0.001992,-0.000168,-0.000439,...,-0.000432,-0.000116,-0.000107,-0.000087,-0.000392,-0.000324,-0.000861,0.000903,0.002900,0.002627
FLAG_DOCUMENT_11,-0.002012,-0.004229,-0.005318,0.002315,0.028986,-0.003668,0.035124,0.024632,0.044716,-0.028915,...,-0.005674,-0.001529,-0.001412,-0.001147,-0.002918,0.003891,-0.000336,-0.002026,-0.007402,-0.032884
FLAG_DOCUMENT_12,-0.001045,-0.000756,0.000293,0.002540,0.003857,0.000847,0.004067,-0.000404,0.000236,-0.001225,...,-0.000231,-0.000062,-0.000057,-0.000047,0.016142,0.012206,-0.000460,0.002193,-0.000917,-0.002054
FLAG_DOCUMENT_13,0.000896,-0.011583,0.003945,0.022747,0.052429,0.025115,0.052358,0.031186,0.026333,-0.025778,...,-0.005385,-0.001451,0.042520,0.004908,-0.001862,0.007012,-0.003936,0.011011,-0.004401,-0.033801
FLAG_DOCUMENT_14,-0.001077,-0.009464,-0.005459,0.020708,0.048828,0.036856,0.048749,0.032202,0.030733,-0.023383,...,-0.004913,-0.001324,0.030805,0.002291,0.001168,0.013119,-0.000847,0.004658,-0.004402,-0.033008
FLAG_DOCUMENT_15,0.002604,-0.006536,0.003609,0.010793,0.032252,0.016125,0.032932,0.009446,0.012953,-0.014285,...,-0.003151,-0.000849,0.028299,-0.000637,-0.000328,0.003279,0.001429,0.002403,-0.001556,-0.018955
FLAG_DOCUMENT_16,-0.000724,-0.011615,0.010662,0.007269,0.061925,0.007198,0.058305,0.006313,0.024044,-0.042905,...,-0.009066,-0.002444,0.082229,0.003544,-0.002259,0.006318,-0.009751,0.002032,0.000706,-0.048754
FLAG_DOCUMENT_17,0.001450,-0.003378,0.000773,0.002230,0.011743,0.003191,0.012139,0.007414,0.007877,-0.007187,...,-0.001479,-0.000399,0.026167,-0.000299,-0.001282,-0.001061,-0.002819,0.000231,-0.001385,-0.009763
FLAG_DOCUMENT_18,0.000509,-0.007952,0.004031,0.003130,0.034329,-0.009745,0.032748,0.013367,0.044498,-0.040396,...,1.000000,-0.002209,0.081589,0.006259,-0.002231,0.013281,-0.004640,-0.001565,-0.005125,-0.047432
FLAG_DOCUMENT_19,0.000167,-0.001358,0.000864,0.002408,0.021082,0.004573,0.020279,0.002364,0.003614,-0.010040,...,-0.002209,1.000000,0.034981,-0.000447,0.003456,0.001126,-0.001275,-0.002729,-0.001575,-0.007009
FLAG_DOCUMENT_20,0.001073,0.000215,0.000988,0.000242,0.031023,0.011718,0.031640,-0.000045,0.009015,-0.010135,...,0.081589,0.034981,1.000000,0.007480,-0.001844,-0.000120,-0.001770,0.001285,-0.001010,-0.012126
FLAG_DOCUMENT_21,0.000282,0.003709,-0.002450,-0.000589,-0.016148,-0.017598,-0.014486,0.003437,0.027282,-0.008396,...,0.006259,-0.000447,0.007480,1.000000,-0.001365,-0.001130,0.000081,-0.003612,-0.002004,-0.005457
AMT_REQ_CREDIT_BUREAU_HOUR,-0.002672,0.000930,-0.000410,0.000709,-0.003906,0.003861,-0.003237,-0.002225,0.005285,-0.004735,...,-0.002231,0.003456,-0.001844,-0.001365,1.000000,0.230374,0.004706,-0.000018,-0.002716,-0.004597
AMT_REQ_CREDIT_BUREAU_DAY,-0.002193,0.002704,-0.000366,0.002944,0.004238,0.002185,0.004677,0.001399,0.002255,0.000472,...,0.013281,0.001126,-0.000120,-0.001130,0.230374,1.000000,0.217412,-0.005258,-0.004416,-0.003355
AMT_REQ_CREDIT_BUREAU_WEEK,0.002099,0.000788,-0.002436,0.002387,-0.001275,0.013881,-0.001007,-0.002149,-0.001336,0.003072,...,-0.004640,-0.001275,-0.001770,0.000081,0.004706,0.217412,1.000000,-0.014096,-0.015115,0.018917
AMT_REQ_CREDIT_BUREAU_MON,0.000485,-0.012462,-0.010808,0.024700,0.054451,0.039148,0.056422,0.078607,0.001372,-0.034457,...,-0.001565,-0.002729,0.001285,-0.003612,-0.000018,-0.005258,-0.014096,1.000000,-0.007789,-0.004975
AMT_REQ_CREDIT_BUREAU_QRT,0.001025,-0.002022,-0.007836,0.004859,0.015925,0.010124,0.016432,-0.001279,-0.011799,0.015345,...,-0.005125,-0.001575,-0.001010,-0.002004,-0.002716,-0.004416,-0.015115,-0.007789,1.000000,0.076208
AMT_REQ_CREDIT_BUREAU_YEAR,0.004659,0.019930,-0.041550,0.011690,-0.048448,-0.011320,-0.050998,0.001003,-0.071983,0.049988,...,-0.047432,-0.007009,-0.012126,-0.005457,-0.004597,-0.003355,0.018917,-0.004975,0.076208,1.000000

In [ ]:
family_numb=pd.crosstab(df['TARGET'],df[''])
family_numb